.navbar {
	position: absolute;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
	z-index: 100;
	border: 0;
	background-color: #fff;
}

.navbar-default {
	.navbar-brand {
		color: #0366d6;

		&:hover,
		&:focus {
			color: #0366d6;
		}

		& > img {
			max-height: 22px;
		}
	}

	.navbar-nav > li > a {
		color: #0366d6;

		&:hover {
			text-decoration: underline;
		}
	}

	.navbar-form {
		border-left: 1px solid #e6ede4;
		margin: 0;
		
		.form-group {
			padding: 7px 0;

			.form-control {
				border: none;
				box-shadow: none;
				padding-left: 0;
				padding-right: 0;

				&:focus {
					box-shadow: none;
				}
			}
		}

		.search-results {
			position: absolute;
			top: 50px;
			width: auto;
			min-width: 400px;
			height: auto;
			max-height: 57px * 5;
			z-index: 100;
			background-color: #fff;
			margin-left: -16px;
			overflow: hidden;
			overflow-y: auto;

			& > ul {
				list-style: none;
				margin: 0;
				padding: 0;

				& > li {
					padding: 7px 15px;
					border-left: 1px solid #e6ede4;
					border-top: 1px solid #e6ede4;
					cursor: pointer;

					& > h4 {
						margin: 0;
						font-size: 16px;
						line-height: 20px;

						& > .price {
							float: right;
							font-size: 14px;
						}
					}

					&:hover {
						border-color: #0366d6;
						background-color: #0366d6;
						color: #fff;
					}
				}
			}
		}
	}
}