.navbar {
	position: absolute;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
	z-index: 100;
	border: 0;
	background-color: #fff;
}

.navbar-default {
	.navbar-brand {
		color: #0366d6;

		&:hover,
		&:focus {
			color: #0366d6;
		}

		& > img {
			max-height: 22px;
		}
	}

	.navbar-nav > li > a {
		color: #0366d6;

		&:hover {
			text-decoration: underline;
		}
	}

	.navbar-form {
		border-left: 1px solid #e6ede4;
		margin: 0;
		
		.form-group {
			padding: 7px 0;

			.form-control {
				border: none;
				box-shadow: none;
				padding-left: 0;
				padding-right: 0;

				&:focus {
					box-shadow: none;
				}
			}
		}

		.search-results {
			position: absolute;
			top: 50px;
			width: auto;
			min-width: 400px;
			height: auto;
			z-index: 100;
			background-color: #fff;
			margin-left: -16px;
			border-radius: 0 0 3px 3px;

			& > ul {
				list-style: none;
				margin: 0;
				padding: 0;
				max-height: 67px * 5;
				overflow: hidden;
				overflow-y: auto;

				& > li {
					padding: 12px 15px;
					border-left: 1px solid #e6ede4;
					border-top: 1px solid #e6ede4;
					cursor: pointer;

					& > h4 {
						margin: 0;
						font-size: 16px;
						line-height: 20px;

						& > .price {
							float: right;
							font-size: 14px;
						}
					}

					&:hover {
						background-color: #0366d6;
						border-color: #0366d6;
						color: #fff;
					}
				}
			}

			& > .algolia {
				text-align: right;
				line-height: 20px;
				padding: 12px 15px;
				border-left: 1px solid #e6ede4;
				border-top: 1px solid #e6ede4;
				border-radius: 0 0 3px 3px;

				&:hover {
					background-color: #fff;
					border-color: #e6ede4;
					color: #636b6f;
				}

				img {
					height: 20px;
					margin-left: 5px;
				}
			}
		}
	}
}